<script>
  document.getElementById('_pushState').addEventListener('load', (e) => {
    document.querySelectorAll('article > h2[id]').forEach((h2) => {
      var p = document.createElement('p');
      var cb = document.createElement('clap-button');
      cb.setAttribute('url', '#' + h2.id);
      cb.setAttribute('text-placement', 'bottom');
      cb.setAttribute('nowave', '');
      p.appendChild(cb);
      h2.insertAdjacentElement('afterend', p);
    });
  });

  document.getElementById('_pushState').addEventListener('ready', (e) => {
    prepare(e.detail.replaceEls[0]);
    updateImg(e.detail.replaceEls[0]);
  });

  let darkMode = undefined;
  prepare(document);

  function prepare(main) {
    if (main) main.querySelectorAll('picture').forEach(pic => {
      const source = pic.querySelector('source[media*="dark"]');
      const img = pic.querySelector('img');
      if (source && img) {
        pic.dataset.lightSrc = img.src;
        pic.dataset.darkSrc = source.srcset;
      }
    });
  }

  function updateImg(main) {
    if (darkMode === true) {
      main.querySelectorAll('picture').forEach(pic => {
        const source = pic.querySelector('source[media*="dark"]');
        const img = pic.querySelector('img');
        if (img && pic.dataset.darkSrc) {
          img.src = pic.dataset.darkSrc;
          if (source) pic.removeChild(source);
        }
      });
    } else if (darkMode === false) {
      main.querySelectorAll('picture').forEach(pic => {
        const source = pic.querySelector('source[media*="dark"]');
        const img = pic.querySelector('img');
        if (img && pic.dataset.lightSrc) {
          img.src = pic.dataset.lightSrc;
          if (source) pic.removeChild(source);
        }
      });
    }
  }

  document.body.addEventListener('hydejack-dark-mode-toggle', (e) => {
    darkMode = e.detail;
    updateImg(document);
  });
</script>
