.page > p { 
  position: relative 
}

clap-button {
  --clap-button-color: var(--accent-color);
}

h2 + p > clap-button {
  margin: 0;
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: -6rem;
  margin-top: -3rem;
  font-size: smaller;
  color: var(--gray-text);
  --clap-button-color: var(--menu-text);
}

.btn-primary { color: #333; }
.btn-primary:hover { color: #333; }
